.todoItem {
    width: 80%;
    height: 80px;
    max-width: 600px;
    margin: 10px 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--maize-crayola);

    font-size: 1.2rem;
    border: 2px solid var(--persian-green);
}





.checked-icon {
    margin-left: 10px;
    color: white;
    font-size: 2rem;
}
.checked-icon:hover {
    color: var(--persian-green);
    cursor: pointer;
}

.green-text-line-through {
    text-decoration: line-through;
    color: var(--persian-green);
}
.color-green {
    color: var(--persian-green);
}



.task-text {
    padding: 10px 10px;
    text-overflow: ellipsis;/*TODO*/
}


.trash-icon {
    color: var(--burnt-sienna);
    margin-right: 10px;
}
.trash-icon:hover {

    cursor: pointer;
    color: red;
   
}