/*colors*/
:root {
  --charcoal: #264653ff;
  --persian-green: #2a9d8fff;
  --maize-crayola: #e9c46aff;
  --sandy-brown: #f4a261ff;
  --burnt-sienna: #e76f51ff;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'Fredoka One', cursive;
    background-color: var(--sandy-brown);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    all: unset;
}

li {
    list-style: none;
}


#root {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}